<h1>Welcome to CWImage_Uploader</h2>
<h2>A simple file uploader for images using Carrierwave</h2>
<p>Here, you can make 'Thingies'!</p>
<p>Thingies have two attributes: a name and an image.</p>
<%= link_to "Create a Thingy", new_thingy_path %> |
<%= link_to "Thingies Index", thingies_path %>
